[Unit]
Description=Multipass API
After=network.target auditd.service
Wants=

[Service]
ExecStart={MULTIPASSKIT_PATH} run-api
ExecReload=
Restart=on-failure
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target